html{
    height: 100%;
}
body {
    overflow: hidden;
    min-height: 100%;
}

.fullBg {
    position: fixed;
    top: 0;
    left: 0;
}

.nav {
    position: absolute;
    right: 35px;
    top: 35px;
    z-index: 110;
    float: none;
    clear: both;
    margin: 0;
    padding: 0;
}

.nav li {
    cursor: pointer;
}

.nav a {
    background-color: rgba(255, 255, 255, 0.50);
    font-size: 15px;
}
.progress {
    margin-top: 10%;
}
.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
}
.panel .panel-body img { display: block; margin: 0; width: 100%; height: auto; 
    transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    -webkit-transition: all 0.5s; 
    -o-transition: all 0.5s; 
}

body{
	background: #fff url(../images/loginBg.png) center top no-repeat; background-size: 100%; 
	font-size:12px; color:#333333; font-family: 'Open Sans', sans-serif;
}

.topWhiteBg{background: #fff;margin: 0 0 0 0;padding: 0; height:90px; }

.navbar-brand {float: center !important;width: 160px;height: 81px;
	background: url(../images/logo-max.png) no-repeat left center;
	display: block;margin-top:4px;padding: 0;margin-left: 12px;
}
